<h1>Is the word an anagram?</h1>
<form action="/results">
  <div class="form-group">
    <label for="target_word">Enter your target word.</label>
    <input type="text" name="target_word" class="form-control">
  </div>
  <div class="form-group">
    <label for="test_word1">Enter your test words.</label>
    <input type="text" name="test_word_1" class="form-control">
    <input type="text" name="test_word_2" class="form-control">
    <input type="text" name="test_word_3" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Test</button>
</form>
